<h1> New Game</h1>
<br>

<% @letters.each do |letter|    %>
<%= letter %>
<% end %>

<p>What is the longest word you can find?</p>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag("letters", value = @letters) %>
  <input type="text" name="word" placeholder="The longest word">
  <input type="submit" value = "submit">
</form>
